nav.blue-grey.darken-3
  div.col.s12
    div.nav-wrapper
      a(href="#").brand-logo Logo
      a(href="#" data-activates="mobile-demo").button-collapse
        i.material-icons menu
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a(href="") Sass
        li
          a(href="") 自检
        li
          a(href="") Javascript
      ul#mobile-demo.side-nav
        li
          a(href="") Sass
        li
          a(href="") 自检
        li
          a(href="") Javascript